# O que é um iterable?

### Explicação não programadora

Um iterable é uma estrutura que armazena dados que pode ser "iterada" ou seja, que você pode fazer um loop como um for dentro dela e ir passando de item a item. É como se fosse um tipo de lista de coisas que você pode ir olhando cada um dos elementos dentro dela.

Até agora as principais que vimos foram:

- Listas

In [28]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}
qtde_iphone = vendas_tecnologia['iphone']
print(qtde_iphone)

15000

- Strings

In [29]:
texto = 'lira@gmail.com'

for ch in texto:
    print(ch)

l
i
r
a
@
g
m
a
i
l
.
c
o
m

- Tuplas

In [30]:
produtos = ('iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus')

for produto in produtos:
    print(produto)

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus

- Dicionários

In [31]:
vendas_produtos = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

for produto in vendas_produtos:
    print(produto)
    #print('{}: {} unidades'.format(produto, vendas_produtos[produto]))

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus

- Vamos falar nesse módulo de algumas outras, mas esse conceito é importante porque várias funções do python usam isso para explicar como as coisas funcionam. Então é importante que quando você ler o termo "iterable" você entenda o que estão falando: "é tipo uma lista de coisas que eu posso percorrer e fazer alguma ação com cada uma das coisas dentro dessa lista"

# Range

### Estrutura:

- range(tamanho)

ou 

- range(inicio, fim)

ou

- range(inicio, fim, passo)

In [32]:
#uso mais comum no for:
produtos = ['arroz', 'feijao', 'macarrao', 'atum', 'azeite']
estoque = [50, 100, 20, 5, 80]

for i in range(5):
    print('{}: {} unidades'.format(produtos[i], estoque[i]))

arroz: 50 unidades
feijao: 100 unidades
macarrao: 20 unidades
atum: 5 unidades
azeite: 80 unidades

In [33]:
#range com inicio e fim
print(range(1, 10))
print('---------')
#vamos olhar no for para entender
for i in range(1, 10):
    print(i)

range(1, 10)
---------
1
2
3
4
5
6
7
8
9

- Exemplo: Modelo Jack Welch da G&E

    1. Classe A: 10% melhor
    2. Classe B: 80% mantém/busca melhorar
    3. Classe C: 10% pior
    
Quem são os funcionários classe B?

In [34]:
funcionarios = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo']
vendas = [2750, 1900, 1500, 1200, 1111, 1100, 999, 900, 880, 870, 800, 800, 450, 400, 300, 300, 120, 90, 80, 70]

# Como a lista está em ordem decrescente, podemos
print('Funcionários Classe B:')
for i in range(3, 18):
    print('{}, com {} vendas'.format(funcionarios[i], vendas[i]))

Funcionários Classe B:
João, com 1200 vendas
Francisco, com 1111 vendas
Ana, com 1100 vendas
Luiz, com 999 vendas
Paulo, com 900 vendas
Carlos, com 880 vendas
Manoel, com 870 vendas
Pedro, com 800 vendas
Francisca, com 800 vendas
Marcos, com 450 vendas
Raimundo, com 400 vendas
Sebastião, com 300 vendas
Antônia, com 300 vendas
Marcelo, com 120 vendas
Jorge, com 90 vendas

In [35]:
#range com passo
print(range(0, 1000, 100))

for i in range(0, 1000, 100):
    print(i)

range(0, 1000, 100)
0
100
200
300
400
500
600
700
800
900

# Set

### Estrutura:

meu_set = {valor, valor, valor, valor,...}

### Observações:

- Não pode ter valores duplicados
- Não tem ordem fixa

In [41]:
set_produtos = {'arroz', 'feijao', 'macarrao', 'atum', 'azeite'}
print(set_produtos)

{'feijao', 'atum', 'azeite', 'arroz', 'macarrao'}

- Aplicação bem útil:

    1. Quantos clientes tivemos na loja?

In [47]:
cpf_clientes = ['762.196.080-97', '263.027.380-67', '827.363.930-40', '925.413.640-91', '870.565.160-33', '892.080.930-50', '462.126.030-81', '393.462.330-10', '393.462.330-10', '393.462.330-10', '988.305.810-11', '596.125.830-05', '596.125.830-05', '990.236.770-48']
print(len(cpf_clientes)) #pode ter cliente repetido

set_cpf_clientes = set(cpf_clientes)
print('Temos {} clientes na loja'.format(len(set_cpf_clientes)))

#podemos criar uma lista com os cpfs:
cpf_clientes_unicos = list(set_cpf_clientes)
print(cpf_clientes_unicos)

14
Temos 11 clientes na loja
['762.196.080-97', '892.080.930-50', '462.126.030-81', '393.462.330-10', '988.305.810-11', '263.027.380-67', '827.363.930-40', '870.565.160-33', '596.125.830-05', '990.236.770-48', '925.413.640-91']